.attendance-list__content {
    max-width: 900px;
    margin: 85px auto;
}
.attendance-list__heading h1 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000000 ;
    padding-left: 24px;
    margin: 0 0 96px 0;
}

.attendance-table {
    width: 100%;
    font-weight: bold;
    background-color: #FFF;
    border-radius: 10px;
    letter-spacing: 3px;
    text-align: center;
    color: #737373;

}

.attendance-table thead{
    border-bottom: 3px solid #E1E1E1;
    }

.attendance-table tr {
    height: 45px;
    border-bottom: 2px solid #E1E1E1;
}

.attendance-table tr:last-child {
    border-bottom: none;
}

.attendance-table th:first-child,
.attendance-table td:first-child {
    width: 35%;
    /* text-align: left; */
    padding-left: 96px;
}

.attendance-table th:last-child,
.attendance-table td:last-child {
    width: 30%;
    padding-right: 30px;
}

.attendance-table td:last-child {
    color: #000000;
}

.attendance-table a:hover {
    text-decoration: underline;
}