.staff-list__content {
    max-width: 900px;
    margin: 80px auto;
}
.staff-list__heading{
    margin: 0 0 50px 0;
}

.staff-list__title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000000 ;
    padding-left: 24px;
}

.staff-list__pagination{
    height: 37px;
    margin: 5px 0;

}

.staff-table {
    width: 100%;
    font-weight: bold;
    background-color: #FFF;
    border-radius: 10px;
    letter-spacing: 3px;
    text-align: center;
    color: #737373;

}

.staff-table thead{
    border-bottom: 3px solid #E1E1E1;
    }

.staff-table tr {
    height: 45px;
    border-bottom: 2px solid #E1E1E1;
}

.staff-table tr:last-child {
    border-bottom: none;
}

.staff-table th:first-child,
.staff-table td:first-child {
    width: 35%;
    padding-left: 96px;
}

.staff-table th:last-child,
.staff-table td:last-child {
    width: 30%;
    padding-right: 30px;
}

.staff-table td:last-child {
    color: #000000;
}

.staff-table a:hover {
    text-decoration: underline;
}

@media (max-width: 950px) {
    .staff-list__content{
        margin: 44px auto;
    }
}
@media (max-width: 850px) {

    .staff-list__heading{
        margin-bottom: 20px;
    }

    .staff-table th:first-child,
    .staff-table td:first-child {
        width: 26%;
        padding-left: 10px;
    }

    .staff-table th:nth-child(2),
    .staff-table td:nth-child(2) {
        width: 53%;
    }

    .staff-table th:last-child,
    .staff-table td:last-child {
        width: 30%;
        padding-right: 15px;
    }

}