main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.status-header {
    margin: 140px 0 10px;
    text-align: center;
}

.status-text {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 6px;
    color: #696969;
    background-color: #C8C8C8;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.datetime-panel {
    /* margin-bottom: 30px; */
}

.date-display {
    font-size: 40px;
    margin: 0;
}

.time-display {
    margin: 18px 0;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
}

.timestamp-container {
    display: flex;
    justify-content: center;
    gap: 86px;
    margin: 60px 0 150px;
    height: 120px;
    align-items: center;
}

.timestamp-form {
    flex: 1;
    max-width: 220px;
}

.timestamp-button {
    width: 100%;
    height: 78px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 6px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timestamp-button:hover {
    background-color: #333;
}

.timestamp-button--rest {
    background-color: #ffffff;
    color: #000000;
    /* border: 1px solid #000000; */
}



.timestamp-button--rest:hover {
    background-color: #c3fff2;
}

.completion-message {
    padding: 60px 20px;
    font-size: 26px;
    font-weight: bold;
    /* background-color: #fff; */
    border-radius: 5px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 950px) {
    .status-header {
        margin: 50px 0 10px;
    }

    .timestamp-container{
        margin: 0;
        gap: 60px;
    }
}