.attendance-list__content {
    max-width: 900px;
    margin: 48px auto;
}

.attendance-list__title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000000 ;
    padding-left: 24px;
    margin: 0;
}

.date-navigation {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    padding: 0 12px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px;
}

.date-display {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-display img {
    height: 24px;
    width: auto;
}
.date-nav-button {
    padding: 5px 15px;
    color: #737373;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.date-nav-button i {
    font-size: 20px;
}

.attendance-table {
    width: 100%;
    font-weight: bold;
    background-color: #FFF;
    border-radius: 10px;
    letter-spacing: 3px;
    text-align: center;
    color: #737373;
}

.attendance-table thead{
    border-bottom: 3px solid #E1E1E1;
    }

.attendance-table tr {
    height: 45px;
    border-bottom: 2px solid #E1E1E1;
}

.attendance-table tr:last-child {
    border-bottom: none;
}

.attendance-table th:first-child,
.attendance-table td:first-child {
    width: 20%;
    text-align: left;
    padding-left: 60px;
}

.attendance-table th:last-child,
.attendance-table td:last-child {
    padding-right: 30px;
}

.attendance-table td:last-child {
    color: #000000;
}

.attendance-table a:hover {
    text-decoration: underline;
}

.attendance-date__input {
    max-width: 126px;
    font-family: 'Inter', sans-serif;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.csv-export-button-wrapper{
    text-align: right;
    margin-top: 55px;
}

    .csv-export-button {
    display: inline-block;
    text-align: center;
    width: 184px;
    height: 50px;
    line-height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}


.csv-export-button:hover {
    background-color: #6c757d;
}

@media (max-width: 950px) {
    .attendance-list__content{
        margin: 12px auto;
    }

    .attendance-table {
        letter-spacing: 1px;
    }
}

@media (max-width: 850px){
    .date-navigation{
        margin: 30px 0 25px;
    }

    .attendance-table th:first-child,
    .attendance-table td:first-child {
        width: 20%;
        text-align: left;
        padding-left: 30px;
    }

    .attendance-table th:last-child,
    .attendance-table td:last-child {
        padding-right: 10px;
    }
    .csv-export-button-wrapper {
        margin-top: 30px;
    }
}