/* 全体設定 */
body {
    font-family: 'Inter', sans-serif;
    background-color: #F0EFF2;
    /* color: #333; */
}

a {
    text-decoration: none;
    color: inherit;
}

/* ヘッダー */
.header {
    background-color: #000000; /* 黒背景に変更 */
    padding: 20px 40px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
}

.header__logo img {
    height: 36px;
    display: block;
}

.header-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.header-nav__item {
    margin-left: 40px;
}

.header-nav__link {
    font-weight: bold;
    /* font-size: 16px; */
    color: #ffffff; /* 白文字に変更 */
}

.header-nav__button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    padding: 0;
    color: #ffffff; /* 白文字に変更 */
}

/* メインコンテンツ領域 */
main {
    padding: 40px 20px;
}
