main {
    padding: 40px 60px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F0EFF2;
}

a {
    text-decoration: none;
    color: inherit;
}

input{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.header {
    background-color: #000000;
    padding: 20px 38px 20px 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1540px;
    margin: 0 auto;
}

.header__logo img {
    max-height: 36px;
    max-width: 100%;
    height: 36px;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    justify-content: space-evenly;
}

.header-nav__item {
    margin-left: 28px;
}

.header-nav__item form{
    margin: -3px 0 0;
}

.header-nav__item:first-child {
    margin-left: 0;
}

.header-nav__link {
    font-weight: bold;
    color: #ffffff;
}

.header-nav__button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    color: #ffffff;
}

.form__error {
    color: #dc3545;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

@media (max-width: 950px) {
    .header{
        padding: 20px 0 10px;
    }
    .header__inner {
        display: flex;
        flex-direction: column;
    }
    .header__logo {
        margin-bottom: 10px;
    }
        .header__inner nav{
            width: 100%;
        }
    .header-nav{
        margin: 0 30px;
    }
    .form__error {
        font-size: 14px;
    }
}

/* Pagination Styles */
.pagination {
    display: flex;
    /* list-style: none; */
    /* height: 35px; */
    line-height: 35px;
    padding: 0;
    margin: 5px 0;
    justify-content: flex-end;
}

.page-item {
    margin: 0 2px;
}

.page-item .page-link {
    display: block;
    /* height: 35px; */
    /* line-height: 35px; */
    padding: 0 12px;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}