main {
    padding: 40px 60px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F0EFF2;
}

a {
    text-decoration: none;
    color: inherit;
}

input{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.header {
    background-color: #000000;
    padding: 20px 38px 20px 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1540px;
    margin: 0 auto;
}


.header__logo img {
    max-height: 36px;
    max-width: 100%;
    height: 36px;

    /* display: block; */
}

.header-nav {
    /* width: 620px; */
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    justify-content: space-evenly;
}

.header-nav__item {
    margin-left: 28px;
    /* height: 29px; */
}
.header-nav__item form{
    margin: -3px 0 0;
}

.header-nav__item:first-child {
    margin-left: 0;
}

.header-nav__link {
    font-weight: bold;
    color: #ffffff;
}

.header-nav__button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    color: #ffffff;
}

.form__error {
    color: #dc3545;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

@media (max-width: 950px) {
    .header{
        padding: 20px 0 10px;
    }
    .header__inner {
        display: flex;
        flex-direction: column;
        /* margin: 0 auto; */
    }
    .header__logo {
        margin-bottom: 10px;
        /* height: 36px; */
    }
        .header__inner nav{
            width: 100%;
        }
    .header-nav{
        /* width: 100%; */
        margin: 0 30px;
    }
    .form__error {
        font-size: 14px;
    }
}
