.correction-list__content {
    max-width: 900px;
    margin: 36px auto;
}


.correction-list__heading h1 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000000;
    padding-left: 24px;
    margin: 0 0 30px 0;
}

.correction-table {
    table-layout: fixed;
    width: 100%;
    font-weight: bold;
    background-color: #FFF;
    border-radius: 10px;
    letter-spacing: 2px;
    text-align: center;
    color: #737373;
    text-align: left;
}
.correction-table thead {
    border-bottom: 3px solid #E1E1E1;
}
.correction-table tr {
    height: 45px;
    border-bottom: 2px solid #E1E1E1;
}

.correction-table th,
.correction-table td{
    width: 14%;
}

.correction-table tr:last-child {
    border-bottom: none;
}

.correction-table th:first-child,
.correction-table td:first-child {
    /* width: 15%; */
    padding-left: 35px;
}

.correction-table th:nth-child(2),
.correction-table td:nth-child(2) {
    width: 12%;
    white-space: nowrap;
    /* font-size: clamp(14px,1vw+5px,16px); */
}

.correction-table th:nth-child(4),
.correction-table td:nth-child(4) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 180px;
    width: 15%;
    padding-right: 5px;
}

.correction-table th:last-child,
.correction-table td:last-child {
    width: 9%;
    /* padding: 0 45px 0 15px; */
}

.correction-table td:last-child {
    color: #000000;
}
.correction-table a:hover {
    text-decoration: underline;
}

.item-list__tabs {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}

.item-list__tab {
    padding: 15px 55px;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease;
}

.item-list__tab:hover {
    color: #ff5555;
    font-weight: bold;
}

.item-list__tab.active {
    color: #000000;
    font-weight: bold;
}
@media (max-width: 950px) {
    .correction-list__content {
        margin: 0 auto;
    }

}

@media (max-width: 850px) {

    .correction-table{
        /* letter-spacing: 1px; */
    }

    .correction-table th,
    .correction-table td {
        width: 13%;
    }

    .correction-table th:first-child,
    .correction-table td:first-child {
        width: 12%;
        padding-left: 26px;
    }

    .correction-table th:nth-child(2),
    .correction-table td:nth-child(2) {
        /* width: 11%; */
    }

    .correction-table th:last-child,
    .correction-table td:last-child {
        width: 7%;
        /* padding: 0 45px 0 15px; */
    }

    .correction-table {
            letter-spacing: 0;
    }
}