.detail__container {
    max-width: 900px;
    margin: 50px auto 10px;
}

.detail__heading {
    margin-bottom: 52px;
}

.detail__title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000000;
    padding-left: 22px;
    margin: 0;
}

.detail__form{
    font-weight: bold;
}

.detail__form-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
}

.detail__form-group {
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    border-top: 2px solid #E1E1E1;
}

.detail__form-group:first-child {
    height: 75px;
    border-top: none;
}

.detail__form-group:last-child {
    height: 110px;
}

.detail__form-group--reason{
    height: 110px;
}

.detail__label {
    max-width: 248px;
    width: 30%;
    color: #737373;
    font-weight: bold;
    flex-shrink: 0;

}

.detail__input,
.detail__textarea {
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.detail__input{
    font-size: 16px;
}

.detail__textarea {
    font-size: 14px;
    width: 330px;
    height: 72px;
    resize: vertical;
}

.detail__text--name{
    margin-left: 18px;
}

.detail__text--date{
    display: flex;
    letter-spacing: 2px;
    gap: 116px;
}

.detail__date-year,
.detail__date-monthday {
    width: 103px;
    text-align: center;
}

.detail__input--time,
.detail__text--time {
    width: 107px;
    height: 29px;
    text-align: center;
    letter-spacing: 2px;
}

.detail__text--empty{
    padding-left: 25px;
}

.detail__text--reason {
    font-size: 14px;
    margin-left: 26px;
}

.detail__separator {
    margin: 0 50px;
}

.detail__button-wrapper {
    text-align: right;
    margin-top: 38px;
}

.detail__button {
    width: 130px;
    height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detail__button--approved {
    background-color: #6c757d;
    cursor: not-allowed;
}

.detail__button:hover {
    background-color: #6c757d;
}

.detail__error-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__pending-message,
.alert-success{
    font-size: 18px;
    color: #FF0000;
    opacity: 0.5;
}
.alert-success{
    text-align: right;
    margin-right: 15px;
}

@media (max-width: 950px) {
    .detail__container {
        margin: 14px auto 10px;
    }
}

@media (max-width: 850px) {
    .detail__heading{
        margin-bottom: 30px;
    }
    .detail__text--date{
        gap: 90px;
    }
    .detail__separator{
        margin: 0 35px;
    }
    .detail__textarea{
        max-width: 300px;
    }
}
