.detail__container {
    max-width: 900px;
    margin: 0 auto;
}

.detail__heading {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000000;
    padding-left: 24px;
    margin: 0 0 30px 0;
}

.detail__form{
    font-weight: bold;
}

.detail__form-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
}

.detail__form-group {
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    border-top: 2px solid #E1E1E1;
}

.detail__form-group:first-child {
    height: 75px;
    border-top: none;
}

.detail__form-group:last-child {
    height: 110px;
    /* border-bottom: none; */
}

.detail__form-group--reason{
    height: 110px;
}

.detail__label {
    width: 34%;
    color: #737373;
    font-weight: bold;
    flex-shrink: 0;

}

.detail__text {
    /* margin: 0 10px; */
}

.detail__input,
.detail__textarea {
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.detail__input{
    font-size: 16px;
}

.detail__textarea {
    font-size: 14px;
    max-width: 320px;
    width: 42%;
    height: 72px;
    resize: vertical;
    /* min-height: 80px; */
}
/*
.detail__sub-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
} */

.detail__form-group--rest {
    /* justify-content: flex-start; */
}

.detail__text--name{
    margin-left: 18px;
}

.detail__text--date{
    /* width: 40%; */
    display: flex;
    letter-spacing: 2px;
    /* justify-content: space-between; */
    gap: 116px;
}

.detail__text--date span{
    /* margin: 0 30px; */
    width: 103px;
    text-align: center;
}

.detail__input--time,
.detail__text--time {
    width: 107px;
    height: 29px;
    text-align: center;
    letter-spacing: 2px;
}

.detail__text--reason {
    font-size: 14px;
}
/* 時間入力のデフォルトアイコンを非表示にする */
.detail__input--time::-webkit-calendar-picker-indicator {
    /* display: none; */
}

.detail__separator {
    margin: 0 50px;
}

.detail__button-wrapper {
    text-align: right;
    margin-top: 30px;
}

.detail__button {
    width: 130px;
    height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detail__button--approved {
    background-color: #6c757d;
    cursor: not-allowed;
}

.detail__button:hover {
    background-color: #6c757d;
}

.detail__error-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__pending-message{
    font-size: 18px;
    color: #FF0000;
    opacity: 0.5;
}
