/* 全体 */
.detail__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.detail__heading {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000000;
    padding-left: 24px;
    margin: 0 0 30px 0;
}

.detail__form{
    font-weight: bold;
}

/* フォーム全体 */
.detail__form-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* padding: 30px; */
}

/* 各フォーム */
.detail__form-group {
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    /* margin-bottom: 20px; */
    border-bottom: 2px solid #E1E1E1;
}

.detail__form-group:last-child {
    height: 110px;
    border-bottom: none;
}


.detail__label {
    width: 40%;
    font-weight: bold;
    flex-shrink: 0;
}

.detail__text {
    font-size: 16px;
}

.detail__input,
.detail__textarea {
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* font-size: 16px; */
}

.detail__input{
    font-size: 16px;
}

.detail__textarea{
    font-size: 14px;
}

.detail__textarea {
    width: 40%;
    resize: vertical;
    min-height: 80px;
}

/* 休憩時間 */
.detail__sub-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.detail__form-group--rest {
    justify-content: flex-start;
}

.detail__input--time {
    width: 120px;
}

/* 時間入力のデフォルトアイコンを非表示にする */
.detail__input--time::-webkit-calendar-picker-indicator {
    display: none;
}

.detail__separator {
    margin: 0 10px;
}

/* ボタン */
.detail__button-wrapper {
    text-align: right;
    margin-top: 30px;
}

.detail__button {
    width: 130px;
    background-color: #000000; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detail__button:hover {
    background-color: #218838; /* 少し濃い緑 */
}

/* エラーメッセージ */
.detail__error-wrapper {
    width: 100%;
    padding-left: 120px; /* ラベルの幅と合わせる */
    margin-top: -15px; /* 上の要素との間隔を詰める */
    margin-bottom: 15px;
}

.detail__error-wrapper--rest {
    padding-left: 120px; /* ラベルの幅と合わせる */
}

.detail__error {
    color: #dc3545; /* 赤色 */
    font-size: 14px;
}