body {
    background-color: #FFFFFF;
}
.login-form__content {
    margin: 60px auto;
    max-width: 680px;
}

.login-form__heading{
    margin-bottom: 60px;
}

.login-form__title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.form__group {
    margin-bottom: 14px;
}

.form__group-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}

.form__group-content {
    height: 116px;
}

.form__input {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 4px;
    appearance: none;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    transition: opacity 0.3s;
}

.form__button-submit:hover {
    opacity: 0.7;
}

.register__link {
    margin-top: 30px;
    text-align: center;
}

.register__button-submit {
    color: #0073CC;
    font-size: 20px;
}

@media (max-width: 950px){
    .header__logo {
        /* margin-bottom: 0px; */
    }
}

@media (max-width: 850px) {

    .login-form__content {
        max-width: 70%;
        margin: 0 auto;
    }

    .login-form__title {
        font-size: 26px;
        margin: 10px 0 20px;
    }

    .form__group-title {
        font-size: 18px;
    }

    .form__group-content {
        height: 60px;
    }

    .form__input {
        height: 40px;
        font-size: 16px;
    }

    .form__button-submit {
        height: 45px;
        font-size: 20px;
    }


    .register__link{
        margin-top: 20px;
    }

    .register__button-submit {
        color: #0073CC;
        font-size: 16px;
    }
}
