
body {
    background-color: #FFFFFF;
}

.verify-email__content {
    margin: 0 auto;
    text-align: center;
}


.verify-email-form__message {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin: 180px 0 62px;
}

.verify-email-form__success-message {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form__button {
    margin-bottom: 62px;
}

.form__button--auth-link {
    width: 256px;
    height: 70px;
    padding: 18px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.3s;
}

.form__button--auth-link:hover {
    opacity: 0.7;
}

.login__button-submit {
    color: #0073CC;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.responsive__line-break{
    display: none;
}
@media (max-width: 950px) {

    .responsive__line-break {
        display: block;
        height: 0;}

    .verify-email-form__message {
        font-size: 20px;
        margin: 120px 0 40px;
        line-height: 1.4;
    }
    .form__button{
        margin-bottom: 38px;
    }

    .form__button--auth-link{
        width: 220px;
        height: 60px;
        font-size: 20px;
    }
    .login__button-submit{
        font-size: 18px;
    }
}
